@{
    ViewData["Title"] = "Home Page";
}
@model List<Product>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
            }
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <th>@i.ToString()</th>
                    <td><a asp-action="Details" asp-route-id="@item.Id">@item.Title</a></td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>
